<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:31</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/12/22 18:47:31</td>   <td>430</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:31</td>   <td>440</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:32</td>   <td>1000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/12/22 18:47:41</td>   <td>10143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@dc24521]">login</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:57</td>   <td>26620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:58</td>   <td>27610</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/12/22 18:47:58</td>   <td>27720</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_CreateLead@dc24521]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
</table>
